@model MarcaModel;

@{
    var titulo = "Agregar Marca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <form method="post">
            <div class="row border-0">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            @if (Model.Id != 0)
            {
                // Update
                titulo = "Actualizar Marca";
                <input type="hidden" asp-for="Id" id="Id"/>
            }
            <div class="text-center">
                <h2 class="text-primary">@titulo</h2>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="Nombre" class="form-label fw-bold">Nombre</label>
                    <input class="form-control" asp-for="Nombre" placeholder="Ingrese el nombre de la marca" id="Nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label fw-bold">Estado</label>
                    <select asp-for="Estado" class="form-control form-select" aria-label="Estado">
                        <option value=true>Activo</option>
                        <option value=false>Suspendido</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group col-md-9">
                    <label for="Descripcion" class="form-label fw-bold">Descripción</label>
                    <textarea asp-for="Descripcion" class="form-control form-control-sm" rows="3" placeholder="Ingrese una descripción"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-3">
                @if (Model.Id != 0)
                {
                    <partial name="_BtnUpdateCancel" model="Model.Id" ) />
                }
                else
                {
                    <partial name="_BtnSaveCancel" />
                }
            </div>
        </form>
    </div>
</div>

@*Permite mostrar los mensajes de las validaciones*@
@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $("#Nombre").on("change", function () {
                var nombre = $(this).val();
                var id = $("#Id").val();

                $.ajax({
                    url: "@Url.Action("ValidarNombre","Marca")",
                    type: "POST",
                    data: { Nombre: nombre, Id: id },
                    success: function (result) {
                        if (!result.disponible) {
                            $("span[data-valmsg-for='Nombre']").text("El nombre '" + nombre + "' ya está registrado");

                            var inputNombre = document.getElementById("Nombre");
                            inputNombre.value = "";
                        }
                    }
                });
            });
        });

    </script>
}
