<div class="row justify-content-evenly">
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary" onfocus="false"><i class="bi bi-file-earmark-plus"></i> Crear</button>
    </div>
    <div class="col-md-4">
        <a asp-action="Index" class="btn btn-danger"> <i class="bi bi-arrow-return-left"></i> Regresar</a>
    </div>
</div>